<h2>{{genus-name}} Species</h2>
<h3>Total species: {{controller.length}}</h3>

{{add-button label="Add Species" link="species.new"}}

{{
  sortable-table
  content=model
  tableAttrs=tableAttrs
  row=row
  sortProperties=sort
}}
