<h2>{{genus-name}} Measurements</h2>
<div class="grid-12 gutter-50">
  <div class="span-4">
    Strains
  </div>
  <div class="span-8">
    {{
      select-2
      multiple=true
      content=strains
      value=selectedStrains
      optionValuePath="id"
      placeholder="Choose a strain"
    }}
  </div>
</div>
<div class="grid-12 gutter-50">
  <div class="span-4">
    Characteristics
  </div>
  <div class="span-8">
    {{
      select-2
      multiple=true
      content=characteristics
      value=selectedCharacteristic
      optionValuePath="id"
      placeholder="Choose a characteristic"
    }}
  </div>
</div>

{{
  measurement-search-table
  selectedStrain=selectedStrain
  selectedCharacteristic=selectedCharacteristic
}}
