<h2>{{genus-name}} Measurements</h2>
<div class="grid-12 gutter-50">
  <div class="span-4">
    Strains
  </div>
  <div class="span-8">
    {{
      view "select"
      content=strains
      optionValuePath="content.val"
      optionLabelPath="content.lab"
      value=selectedStrain
    }}
  </div>
</div>
<div class="grid-12 gutter-50">
  <div class="span-4">
    Characteristics
  </div>
  <div class="span-8">
    {{
      view "select"
      content=characteristics
      optionValuePath="content.val"
      optionLabelPath="content.lab"
      value=selectedCharacteristic
    }}
  </div>
</div>

{{measurement-search-table}}
