<table class="flakes-table">
  <thead>
    <tr>
      <th>Characteristic</th>
      <th>Measurement Type</th>
      <th>Measurement</th>
      <th>Notes</th>
      <th>Test Method</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |measurement|}}
      {{measurements/measurement-row measurement=measurement}}
    {{/each}}
  </tbody>
</table>
