<h2>{{genus-name}} Characteristics</h2>
<h3>Total characteristics: {{characteristics.length}}</h3>

<table class="flakes-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedCharacteristics as |row|}}
      <tr>
        <td>{{row.characteristicName}}</td>
        <td>{{row.characteristicType.characteristicTypeName}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
