<td>
  <em>
    {{#link-to 'species.show' data}}
      {{data.speciesName}}
    {{/link-to}}
  </em>
</td>
<td>
  {{#each data.strains as |strain index|}}
    {{if index ","}}
    {{#link-to 'strains.show' strain.id}}
      {{strain-name strain=strain}}
    {{/link-to}}
  {{/each}}
</td>
