<div class="ql-toolbar toolbar">
  <span class="ql-format-group">
    <span title="Bold" class="ql-format-button ql-bold"></span>
    <span class="ql-format-separator"></span>
    <span title="Italic" class="ql-format-button ql-italic"></span>
    <span class="ql-format-separator"></span>
    <span title="Underline" class="ql-format-button ql-underline"></span>
  </span>
</div>

<div class="ql-editor editor"></div>
