<div class="grid-1">
  <div class="span-1">
    <fieldset>
      <legend>Account Lockout Access</legend>
      <form {{action 'save' on='submit'}}>
        <ul>
          <li>
            <label>Email</label>
            {{input value=email}}
          </li>
          <li>
            <button type="submit" class="button-green smaller">Submit</button>
          </li>
        </ul>
      </form>
    </fieldset>
  </div>
</div>
