<h2>{{genus-name}} - Compare Strains</h2>

{{
  protected/compare/select-form
  characteristics=characteristics
  strains=strains
  selectedStrains=selectedStrains
  selectedCharacteristics=selectedCharacteristics
  on-search=(action "search")
  update-strains=(action "updateStrainSelection")
  update-characteristics=(action "updateCharacteristicSelection")
}}

{{outlet}}
