  <div class="flakes-navigation">
    {{#link-to 'index' class='logo'}}
      <img src="img/logo.png" width="120">
    {{/link-to}}
    <ul>
      {{#link-to 'strains' tagName='li' href=false}}
        {{#link-to 'strains'}}Strains{{/link-to}}
      {{/link-to}}
      {{#link-to 'characteristics' tagName='li' href=false}}
        {{#link-to 'characteristics'}}Characteristics{{/link-to}}
      {{/link-to}}
      {{#link-to 'about' tagName='li' href=false}}
        {{#link-to 'about'}}About{{/link-to}}
      {{/link-to}}
    </ul>

    <p class="foot">
      {{#if session.isAuthenticated}}
        <a {{ action 'invalidateSession' }}>Logout</a>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
      {{/if}}
    </p>
  </div>

  <div class="flakes-content">
    <div class="flakes-mobile-top-bar">
      <a href="" class="logo-wrap">
        <img src="img/logo.png" height="30px">
      </a>
      <a href="" class="navigation-expand-target">
        <img src="img/navigation-expand-target.png" height="26px">
      </a>
    </div>

    <div class="view-wrap">
      {{outlet}}
    </div>
  </div>
