<div class="flakes-frame">
  <div class="flakes-navigation">
    <ul>
      {{#link-to 'genera' tagName='li' href=false}}
        {{#link-to 'genera'}}Genera{{/link-to}}
      {{/link-to}}
      {{#link-to 'species' tagName='li' href=false}}
        {{#link-to 'species'}}Species{{/link-to}}
      {{/link-to}}
      {{#link-to 'strains' tagName='li' href=false}}
        {{#link-to 'strains'}}Strains{{/link-to}}
      {{/link-to}}
      {{#link-to 'measurements' tagName='li' href=false}}
        {{#link-to 'measurements'}}Measurements{{/link-to}}
      {{/link-to}}
      {{#link-to 'about' tagName='li' href=false}}
        {{#link-to 'about'}}About{{/link-to}}
      {{/link-to}}
    </ul>

    <p class="foot">
      {{#if session.isAuthenticated}}
        <a {{ action 'invalidateSession' }}>Logout</a>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
      {{/if}}
    </p>
  </div>
  <div class="flakes-content">
    <div class="view-wrap">
      {{outlet}}
    </div>
  </div>
</div>
